:root {
  --color-light-blue: #98DDCA;
  --color-light-yellow: #FFF8B3;
  --color-orange: #FFA299;
  --color-dark-gray: #3D3D3D;
  --color-white: #FFFFFF;
  --color-eye: #ADD8E6 ;
  --color-nose: #D2B48C ;
  --color-arms: #FFC4CC  ;
}